::selection {
  background: #adadad;
}

body, input {
  background-color: #222;
  font-family: "EVE Sans Neue", sans-serif;
  font-size: 10pt;
}

body {
  color: #989898;
}

input {
  color: #bfbfbf;
  border: 1px solid black;
}

input:focus {
  border: 1px solid #333;
}

button {
  font-family: "EVE Sans Neue",sans-serif;
  font-size: 10pt;
  color: #9a9a9a;
  background-image: -moz-linear-gradient(to bottom, black, #151515);
  background: -webkit-gradient(linear, left top, left bottom, from(black), to(#151515));
  border: 1px solid black;
  border-bottom: 1px solid #353535;
}

button:hover {
  border-color: #999;
} 

button:active {
  border-color: white;
  position: relative;
  top: 1px;
}

.selected {
  text-decoration: underline;
}

.box {
  background-color: black;
  padding: 8px;
  border: 1px solid #333;
  border-radius: 2px;
  margin-bottom:5px;
}

.box form {
  display: inline;

}

.box ul {
  padding: 0;
  margin: 0;
  display: block;
}

.box li {
  list-style-type: none;
  list-style-position: inside;
  display: inline;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.box .right {
  float: right;
  margin: 0;
  margin-left: 2em;
}

.box .pad {
  font-size: 0;
}

.system-name {
  display: inline-block;
  font-family: monospace;
}

.jump {
  margin: 0px 4px;
  font-style: oblique;
}

.jump:after {
  margin-left: 4px;
  width: 13px;
  height: 11px;
  padding: 0;
  display: inline-block;
  border: 0;
}

.destination .jump:after {
  background-color: yellow;
}

.jump-bridge:after {
  background: white url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAMCAQAAAD4iURRAAAAAmJLR0QAAKqNIzIAAAAJcEhZcwAADk0AAA5NAUbVaAkAAAAHdElNRQfeAQ8WAjZkxMbAAAAAJWlUWHRDb21tZW50AAEAAAAImXMuSk0sSU1RKM8syVBw9/QNAAA3nQXiEzZwDQAAALBJREFUGNNN0D1Ow0AQBtBXhCo9nXOuyFUIJ6GxRJ8LpEEKkdYStL5ATrAF7aZwFTQ1whTYsTXd9zQ/GoaxijxWuWd3erNVqWydFDFjke19uvn24VkzdhsM1jpZkoUi2XsXE2ZrP4rfcU6r1k0YLlZexk2hVznOGFZeF7jRTHjz4EsRyn3sYcJHVyELoch2ztJ8UOdJq9dr7TSSsnzCSa2yUTtLLssPDULnqHGQ5P/sD7zuhBbd9eCCAAAAAElFTkSuQmCC) no-repeat left top;
  content: "";
}

.jump-gate:after {
  background: white url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAMCAQAAAD4iURRAAAAAmJLR0QAAKqNIzIAAAAJcEhZcwAADk0AAA5NAUbVaAkAAAAHdElNRQfeAQ8WAgnSouv9AAAAJWlUWHRDb21tZW50AAEAAAAImXMuSk0sSU1RKM8syVBw9/QNAAA3nQXiEzZwDQAAALxJREFUGNNN0D1Ow0AYhOEH7uGchyNErkyQkjMgAqVPkAu4QYoj1hK0LlLQ+AR7gW1SgbZHprAdRdPNq+9nhnFWEmelq3dF79YKhbWjJC8wyZJHX378+vSknqclz1qDKIiyJNhoZSODO1t7reRvPtEp9Qt8sLH14iwbZReF5hbuvPoWZ7hST/DezpsPQZauaw/TQ3udRjTIsiSqnIQlyqBX6VxcdCq1IN2WcFQqrJROguG2oVHWa9QOgjh5/wHee8Iq1tZSAAAAAElFTkSuQmCC) no-repeat left top;
  content: "";
}

.jump-cyno:after {
  background: white url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAMCAYAAABSgIzaAAAABmJLR0QAAAAAAAD5Q7t/AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3gEPFgAIl5O56QAAACVpVFh0Q29tbWVudAABAAAACJlzLkpNLElNUSjPLMlQcPf0DQAAN50F4hM2cA0AAACOSURBVCjPY2BgYPhPJqa+RgMgNiJHoyYQa5Oq8R8QawGxDpSNVeMbqMnqUMUwDZpQtiaSOEiNHhD/hNl4EIhdgHgmDhtAYtOA2BGIj6A79REQxwFxGhC/RRIHuSgbiCOB+D4uP34F4hYgdgXiLVDsDsR5QPyZmMCZD8RmQGwOxLOA+Dcp0fESiF9RPeUAAM3kjQsk3CXcAAAAAElFTkSuQmCC) no-repeat left top;
    content: "";
}

.jump-station:after {
  background: white url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAMCAYAAABSgIzaAAAABmJLR0QAAAAAAAD5Q7t/AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3gEPFgAUg5LlpgAAACVpVFh0Q29tbWVudAABAAAACJlzLkpNLElNUSjPLMlQcPf0DQAAN50F4hM2cA0AAAA3SURBVCjPY2BgYPhPJoYwgADEZiaAWTA0QiXw2fAPTQ3RGv+PaiRT4z9yo4MJinElADZsGknCAKsbhuIljifSAAAAAElFTkSuQmCC) no-repeat left top;
    content: "";
}

.jump-beacon:after {
  background: white url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAMCAYAAABSgIzaAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3gEPFhAZt+GLSgAAACVpVFh0Q29tbWVudAABAAAACJlzLkpNLElNUSjPLMlQcPf0DQAAN50F4hM2cA0AAACjSURBVCjPndJBDgFBEIXhb7jGuAoJV8AON5FwFBkRMxyLa5RNRQSNWLykU11/3qvqhvhTL4UdpqhTMzSfwZ41VjjjmuqytimBu2woRVs+Od8P03QKHDDECMesdZi/A+uMFhhFhIiAMULlkj3fQVSYPICDd+As44SeNp0mKqe8b0tRm4/L6VtgX3rHTW6vU7lkvBYLbL99gCYj1TnT/MmpCP6kG+MPi3CdisusAAAAAElFTkSuQmCC) no-repeat left top;
    content: "";
}
